/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

ul,
ol,
menu{
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

/* LAYOUT */

body{
    font-family:"Lato", sans-serif;
    background: linear-gradient(
        to bottom,
        #4D9389 0%,
        #4D9389 15%,
        #DBDBD4 15%,
        #DBDBD4 100%
    );
    
    
}

:root{
    --grey-background: #DBDBD4;
    --teal: #4D9389;
    --top-bar: #EAEAEA;
    --bottombar: #F2EEEB;
    --sidebar: #FAFAFA;
    --lightblue: #A6D7F9;
    --icon-light: #B1B1B1;
    --icon-dark: #6D7376;
    --bubble-green: #DEF8C0;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.app{
    height: 100vh;
}

 
/* SIDEBAR */
.sidebar{
    display: none;
}


/* MEDIA QUERY */

@media screen and (min-width: 768px) {
    /* SIDEBAR */
    .sidebar{
        display: flex;
        flex-direction: column;
        width: 80px;
        height: 100vh;
        flex-shrink: 0;
        background-color: white;
    }
    
    .personail{
        height: 70px;
    }

    /* CHAT */
    .chat{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: white;
        height: 100vh;
    }
}

@media screen and (min-width: 992px) {
   
    /* LAYOUT */
    .container{
        max-width: 85%;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
    } 

    /* SIDEBAR */
    .sidebar{
        width: 380px;
        background-color: var(--sidebar);
    }   
}